<ion-view view-title="Novo Aluguel dados do cliente">
    <ion-content>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">Cliente</div>
                <select ng-model="add.client">
                    <option>Fulano</option>
                </select>
            </label>
            
            <label class="item item-input item-select">
                <div class="input-label">Fantasia</div>
                <select ng-model="add.fantasy">
                    <option>Frozzen</option>
                </select>
            </label>
            
            <label class="item item-input">
                <input type="text" placeholder="quantidade" value="1" ng-model="add.amount"/>
            </label>
            
            <label class="item item-input">
                <input type="text" placeholder="Data da devolucao" ng-model="add.devolution"/>
            </label>
            
            <label class="item item-input">
                <input type="text" placeholder="Valor pago" ng-model="add.paid"/>
            </label>
            
            <button class="button button-full button-positive" ng-click="">
                Cadastrar
            </button>
        </div>
    </ion-content>
</ion-view>
